* {
    box-sizing: border-box;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.main-current {
    position: relative;
    width: 40%;
    height: 25%;
    margin: 2rem auto;
    background-color: slategray;
    border-radius: 15px;
    color: white;
    display: flex;
}



.data {
    padding: 2rem;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gif {
    position: relative;
    max-height: 100%;
    z-index: 1;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.upper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.upper-left {
    display: flex;
    flex-direction: column;
    width: 30%;
    font-size: 1.2rem;
}

.upper-mid {
    width: 35%;
    font-size: 3rem;
}

.upper-right {
    display: flex;
    flex-direction: column;
    width: 30%;
    font-size: 1.2rem;
}

.lower {
    z-index: 5;
    > ul {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        list-style-type: none;
    }

    > ul li {
        font-size: 20px;
        font-weight: bold;
    }

    > ul span {
        margin: 0.5rem;
    }
}

.enter-city {
    align-self: center;
    margin: 0 auto;
}