.search-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 20%;
  margin: 0 auto;

  > .favorite {
    display: flex;
    width: 70%;
    height: 30%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    > button {
      width: 20%;
      height: 80%;
      color: white;
      background-color: rgba(107, 107, 107, 0.6);
      overflow: hidden;
      border-radius: 5px;
    }
    > p {
      color: white;
    }
  }

  > .search-bar {
    display: block;
    width: 60%;
    padding: 15px;

    appearance: none;
    background: none;
    border: none;
    outline: none;

    background-color: rgb(255, 255, 255);
    border-radius: 16px;

    box-shadow: 0 5px rgba(60, 60, 60, 0.2);
  }

  > .actual-date {
    color: aliceblue;
  }

}
