.main-daily {
    width: 90%;
    margin: 1rem auto;
    background: rgba(0, 0, 0, 0.50);
    ;
    color: white;
    padding: 1rem;
    border-radius: .5rem;

    > ul {
        display: flex;
        list-style-type: none;
        justify-content: space-evenly;
    }

    > ul li {
        margin: 0 .5rem;  
    }

}